
*{
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 24px;
}
body{

 background-color: lightblue;
}
h1{
 color:#008080;
}
.userDetails{
  background-color:lightpink;
  width: 40%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0.25rem 0 0 1rem;
  margin: 0.25rem;
  margin-left: 22rem;
  margin-top: 5rem;
  border-radius: 1rem;

}
.form-group{
  color: red;
  font-size: 12px;
  text-align: left;
}
.form-group label{
  color: black;
  font-size: 22px;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  
}
.form-group input{
  display:flex;
  flex-grow: 1;
  text-align: left;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  outline: none;
  border: 3px solid white;
  width: 90%;
  max-height: 40px;
}

button{
  height: 40px;
  min-width: 70%;
  border-radius: 0.25rem;
  padding: auto;
  font-size: 1rem;
  background-color:#008080 ;
  color:white;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  margin-top: 0.5rem;
  
}

button:focus,
button:hover{
  color:blue;
  background-color: #59260b;
  outline: none;
}

